<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/db25f61285.js" crossorigin="anonymous"></script>
</head>
<body id="homeabout">
    <header>
        <nav>
            <ul id="menuabout">
                <li><a href="/home">| HOME </a>
                    <a href="/about">| ABOUT </a>
                <a href="/music">| MUSIC </a>
                <a href="/contact">| CONTACT | </a></li>
                
            </ul>
        </nav> 
        <ul id="listaabout">
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://open.spotify.com/intl-es"target="_blank"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.apple.com/la/apple-music/"target="_blank"><i class="fa-brands fa-apple"></i></a>
            <a href="https://music.amazon.es/"target="_blank"><i class="fa-brands fa-amazon"></i></a>
            <a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </ul>
    </header>
    <section>
        <h2> ABOUT <br> EMILIA //</h2>
        <H3>"Seattle-based pop star makes her <BR>indie debut with a hauntingly beautiful album"</H3>
        <h5>-John Tirckle, Music Today Post</h5>

<br>
<br>
<br>
<br>
        <h3>"Emilia Cole is one of the <BR>scene's breakout stars"</h3>
        <h5>-John Tirckle, Music Today Post</h5>
        
    </section>
    
</body>
</html>