<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/db25f61285.js" crossorigin="anonymous"></script>
</head>
<body id="bodyhome">
    <header>
        
        <nav>
            <ul id="home">
                <a href="/home">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/music">MUSIC</a>
                <a href="/contact">CONTACT</a>
            </ul>
        </nav>
        <ul id="lista">
           <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://open.spotify.com/intl-es"target="_blank"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.apple.com/la/apple-music/"target="_blank"><i class="fa-brands fa-apple"></i></a>
            <a href="https://music.amazon.es/"target="_blank"><i class="fa-brands fa-amazon"></i></a>
            <a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </ul>
    </header>
    <section>
        <h3> EMILIA <br> COLE  //</h3>
        <H1>TWIST IN MY REALITY</H1>
        <!-- <img src="img/emilia-home.jpg" alt="imagen de portada"> -->
    </section>
    
</body>
</html>